.abholung-orders {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

.breadcrumb-container {
  background-color: var(--white-color);
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breadcrumb-link {
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: 500;
}

.breadcrumb-active {
  font-size: 1.4rem;
  color: var(--h1h2-color);
  font-weight: 600;
}

.order-actions button {
  padding: 8px 12px;
  font-size: 1.4rem;
}

.order-card {
  background-color: var(--white-color);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}
