.footer-section {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

.navbar-logo img {
  width: 200px;
  height: auto;
}

.foot-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.foot-p {
  margin: 10px 0;
  font-size: 14px;
}

.social {
  margin: 10px 0;
  
}
.social i {
  margin: 10px 0;
  font-size: 44px;
  
}


.social a {
  margin: 0 10px;
  color: #333;

}

.social a:hover {
  color: #FAB60D
}

.foot-terms {
  margin: 10px 0;
}

.foot-terms-link {
  color: #333;
  text-decoration: none;
}

.foot-terms-link:hover {
  text-decoration: underline;
}

.copyright {
  margin: 10px 0;
  font-size: 12px;
  color: #777;
}
