.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  color: #343a40;
  text-align: center;
}

.footer-logo {
  max-width: 150px;
  height: auto;
}

.footer-col {
  margin-bottom: 20px;
}

.footer-col h5 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
}

.footer-col p {
  font-size: 14px;
  margin: 0;
}

.footer-col ul {
  padding: 0;
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.footer-col ul li .footer-icon {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: middle;
  color: #007bff;
}

.footer-bottom {
  border-top: 1px solid #e9ecef;
  padding-top: 15px;
  margin-top: 20px;
}

.foot-terms-link {
  color: #343a40;
  text-decoration: none;
  font-size: 14px;
}

.foot-terms p{
  font-size: 14px;
}

.foot-terms-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.footer-design button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.footer-design button:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .footer-col {
      text-align: center;
  }

  .footer-logo {
      margin-bottom: 15px;
  }

  .footer-col ul {
      text-align: center;
  }

  .footer-design {
      margin-top: 10px;
  }
}
