/* Gallery Section */
.gallery {
  text-align: center;
  padding: 30px 0; /* Boşluk azaltıldı */
}

.gallery h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.gallery p {
  font-size: 16px;
  margin-bottom: 40px;
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* Boşluk azaltıldı */
}

.gallery-item {
  flex: 1 1 400px; /* Kart genişliği minimum 400px olacak şekilde ayarlandı */
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0; /* Padding'i kaldırdık */
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  margin: 10px;
  border: 2px solid #fa7e1e; /* Turuncu çerçeve */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
  background-color: #fa7e1e; /* Hover'da arka plan turuncu */
  color: white; /* Hover'da metin beyaz */
  border: 2px solid #fa7e1e; /* Hover'da çerçeve aynı renk */
}

.gallery-item:hover img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .gallery-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex: 1 1 100%;
  }
}
