/* Gallery Section */
.gallery {

  text-align: center;
  padding: 30px 0;
  background-color: var(--contrast-color); /* Arka plan rengi ikincil renk */
}

.gallery h1 {
  font-size: 3.2rem; /* Başlık font büyüklüğü */
  margin-bottom: 20px;
  color: var(--secondary-color); /* Başlık rengi */
}

.gallery p {
  font-size: 1.6rem; /* Alt başlık font büyüklüğü */
  margin-bottom: 40px;
  color: var(--secondary-color); /* Alt başlık rengi */
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Boşluk artırıldı */
}

.gallery-item {
  flex: 1 1 300px; /* Kart genişliği minimum 300px olacak şekilde ayarlandı */
  max-width: 300px; /* Kart genişliği maksimum 300px olacak şekilde sınırlandırıldı */
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
  background-color: var(--primary-color); /* Hover'da arka plan turuncu */
  color: var(--white-color); /* Hover'da metin beyaz */
}

.gallery-item:hover img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  .gallery-item {
    flex: 1 1 45%; /* Küçük ekranlarda kart genişliği %45 olacak şekilde ayarlandı */
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex: 1 1 100%; /* En küçük ekranlarda kart genişliği %100 olacak şekilde ayarlandı */
  }
}