/* Header.css */

/* Ensure the header is fixed at the top and the content doesn't overlap it */
body {
    padding-top: 70px; /* Adjust according to the height of the navbar */
}

/* Navbar Styles */
.navbar {
    background-color: #f8f9fa; /* Light background color */
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.navbar-brand {
    font-weight: bold;
    color: #007bff; /* Custom brand color */
}

.navbar-brand:hover {
    color: #0056b3; /* Slightly darker color on hover */
}

.navbar-nav .nav-link {
    font-size: 1.8rem; /* Adjust font size */
    color: #333; /* Dark text color for links */
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Link color on hover */
}

.navbar-nav .active {
    font-weight: bold;
    color: #007bff; /* Active link color */
}

.navbar-toggler {
    border-color:var(--primary-color); /* Toggle button border color */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 123, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Header.css */
.header-logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar-brand span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 10px;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color);
}
