/* Genel stiller */
body {
  padding-top: 90px; /* Küçük ekranlar için daha az padding */
}

/* Navbar Styles */
.navbar {
  background-color: var(--secondary-color); /* Light background color */
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  padding: 0 10px; /* Navbar'ın yatay padding'ini azaltmak için */
  z-index: 50;
}

.navbar-brand {
  font-weight: bold;
  color: var(--primary-color); /* Custom brand color */
}

.navbar-brand:hover {
  color: var(--h1h2-color); /* Slightly darker color on hover */
}

.navbar-nav .nav-link {
  font-size: 1.4rem; /* Küçük ekranlar için ayarlanan daha küçük font boyutu */
  color: var(--text-color); /* Dark text color for links */
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-color); /* Link color on hover */
}

.navbar-nav .active {
  font-weight: bold;
  color: var(--primary-color); /* Active link color */
}

.navbar-toggler {
  border-color: var(--primary-color); /* Toggle button border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 123, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Header Logo */
.header-logo {
  max-width: 30px; /* Daha küçük logo boyutu */
  height: auto;
  margin-right: 10px;
}

/* Brand Text */
.navbar-brand span {
  font-size: 1.4rem; /* Daha küçük font boyutu */
  font-weight: bold;
  color: var(--primary-color);
}

/* Aldenhoven Text Style */
.navbar-brand span span {
  font-size: 1.2rem; /* Daha küçük font boyutu */
  font-weight: normal;
  color: var(--text-color);
  margin-left: 5px;
}

/* Responsive Design - Büyük Ekranlar İçin */
@media (min-width: 768px) {
  body {
    padding-top: 90px; /* Büyük ekranlar için padding artırıldı */
  }

  .navbar-nav {
    margin-left: auto; /* Linklerin sağa yaslanmasını sağlar */
  }

  .navbar-nav .nav-link {
    font-size: 1.6rem; /* Büyük ekranlar için biraz daha büyük font boyutu */
    margin-left: 10px;
    margin-right: 10px;
  }

  .navbar-brand span {
    font-size: 1.6rem;
  }

  .navbar-brand span span {
    font-size: 1.4rem; /* Büyük ekranlar için metin boyutu */
  }

  .header-logo {
    max-width: 40px; /* Büyük ekranlar için logo boyutu artırıldı */
  }
}

@media (min-width: 1024px) {
  .navbar-nav {
    margin-left: auto; /* Linklerin sağa yaslanmasını sağlar */
  }

  .navbar-nav .nav-link {
    font-size: 1.8rem; /* Daha büyük ekranlar için daha büyük font boyutu */
    margin-left: 15px;
    margin-right: 15px;
  }

  .header-logo {
    max-width: 50px; /* Daha büyük ekranlar için logo boyutu artırıldı */
  }
}
