.hero {
  background-image: url('../assets/bg/dukkan.jpg');
  background-size: contain; /* Resmin en-boy oranını koruyarak sığdır */
  background-position: center;
  background-repeat: no-repeat; /* Resmin tekrarlanmamasını sağla */
  height: auto;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  animation: fadeIn 2s forwards; /* Fade-in animasyonu */
  background-color: #000; /* Boş alanların rengini belirle */
  padding: 20px; /* Küçük ekranlar için padding ekledik */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5); /* Siyah arka plan %50 opaklık ile */
  padding: 20px;
  border-radius: 10px;
  margin-top: 260px; /* Büyük ekranlar için */
}

.hero h1 {
  font-size: 35px;
  margin: 0;
}

.hero p {
  font-size: 20px;
  margin: 10px 0;
}

.cta-button {
  background-color: #ff6600; /* Turuncu renk */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #e65c00; /* Daha koyu turuncu */
}

/* Küçük ekranlar için düzenlemeler */
@media (max-width: 768px) {
  .hero-content {
    margin-top: 250px; /* Küçük ekranlar için */
    padding: 15px; /* Küçük ekranlar için padding azaltıldı */
  }

  .hero h1 {
    font-size: 28px; /* Yazı boyutu küçültüldü */
  }

  .hero p {
    font-size: 16px; /* Yazı boyutu küçültüldü */
  }

  .cta-button {
    padding: 8px 16px; /* Küçük ekranlar için padding azaltıldı */
    font-size: 14px; /* Yazı boyutu küçültüldü */
  }
}

/* Daha küçük ekranlar için düzenlemeler */
@media (max-width: 480px) {
  .hero-content {
    margin-top: 100px; /* Daha küçük ekranlar için */
    padding: 10px; /* Daha küçük ekranlar için padding azaltıldı */
  }

  .hero h1 {
    font-size: 24px; /* Yazı boyutu daha da küçültüldü */
  }

  .hero p {
    font-size: 14px; /* Yazı boyutu daha da küçültüldü */
  }

  .cta-button {
    padding: 6px 12px; /* Daha küçük ekranlar için padding azaltıldı */
    font-size: 12px; /* Yazı boyutu daha da küçültüldü */
  }
}