.abholung-orders {
  padding: 20px;
  font-family: var(--font-family, Arial, sans-serif);
}

.abholung-orders h3 {
  font-size: 2.8rem;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

.order-status-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.order-status-buttons button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--contrast-color);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  font-family: inherit;
  flex: 1;
  max-width: 120px;
  text-align: center;
}

.order-status-buttons button.active {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.order-list {
  list-style-type: none;
  padding: 0;
}

.order-card {
  background-color: var(--white-color);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-card h4 {
  margin: 10px 0;
}

.order-card ul {
  list-style-type: none;
  padding: 0;
}

.order-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.order-actions button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  font-family: inherit;
  flex: 1;
  max-width: 120px;
  text-align: center;
}

.order-actions button:hover {
  background-color: var(--success-hover-color);
}

.order-actions button.active {
  background-color: var(--secondary-color);
}

.confirm-delete {
  margin-top: 15px;
  text-align: center;
}

.confirm-delete p {
  margin-bottom: 10px;
  color: var(--danger-color);
}

.confirm-delete button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-delete button:first-child {
  background-color: var(--danger-color);
  color: var(--white-color);
}

.confirm-delete button:last-child {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
