.admin-panel {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.admin-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.admin-nav button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: inherit;
}

.admin-nav button.active {
  background-color: #0056b3;
}

.admin-nav button a {
  color: white;
  text-decoration: none;
}

.admin-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
