:root {
  --primary-color: #CD5C08;       /* Ana renk (turuncu ton) */
  --secondary-color: #FFF5E4;     /* İkincil renk (açık bej ton) */
  --contrast-color: #C1D8C3;      /* Kontrast renk (yeşil ton) */
  --grün-color: #6A9C89;          /* Yeşil tonu */
  --h1h2-color: #639281;          /* Başlık rengi (koyu yeşil ton) */
  --text-color: #639281;          /* Genel metin rengi (koyu yeşil ton) */
  --white-color: #ffffff;         /* Beyaz renk */
  --danger-color: #dc3545;        /* Tehlike durumu rengi (kırmızı) */
  --danger-hover-color: #c82333;  /* Tehlike durumu hover rengi */
  --info-color: #17a2b8;          /* Bilgi butonu rengi */
  --info-hover-color: #138496;    /* Bilgi butonu hover rengi */
  --success-color: #609E86;       /* Onaylama düğmesi rengi (yeşil ton) */
  --success-hover-color: #4D8570; /* Onaylama düğmesi hover rengi */
  --black-color: #000000;         /* Siyah renk */
  font-size: 62.5%;               /* Temel font büyüklüğü, rem birimiyle hesaplanır */
  font-family: Arial, Helvetica, sans-serif; /* Genel font ailesi */
}


/* Global h1 ve h2 stilleri */
h1, h2 {
  color: var(--h1h2-color);
  font-family: inherit;
  margin: 0 0 10px 0;
}

h1 {
  font-size: 3.2rem; /* Global h1 font büyüklüğü */
}

h2 {
  font-size: 2.4rem; /* Global h2 font büyüklüğü */
}

p {
  font-size: 1.6rem; /* Global paragraf font büyüklüğü */
  color: var(--text-color);
}

/* Global link stili */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--contrast-color);
  text-decoration: underline;
}

/* Body genel stil */
body {
  background-color: var(--white-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Genel buton stili */
button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: var(--contrast-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.0rem;
  }

  button {
    padding: 8px 16px;
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  button {
    padding: 6px 12px;
    font-size: 1.2rem;
  }
}
