/* Kontakt Container */
.kontakt-container {
  text-align: center;
  padding: 30px 0;
}

.kontakt-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.kontakt-container p {
  font-size: 16px;
  margin-bottom: 40px;
}

.contact-section {
  display: flex;
  justify-content: center; /* Kartları yatay olarak ortala */
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1 1 350px; /* Kart genişliği küçültüldü */
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  margin: 20px;
  border: 2px solid #fa7e1e; /* Turuncu çerçeve */
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center; /* Kart içeriğini yatay olarak ortala */
  justify-content: space-between; /* Kart içeriğini dikey olarak yay */
  text-align: center; /* Metni ortala */
  min-width: 350px; /* Minimum genişlik */
  min-height: 300px; /* Minimum yükseklik */
  height: 100%; /* Yüksekliği eşit tut */
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  background-color: #fa7e1e; /* Hover'da arka plan turuncu */
  color: white; /* Hover'da metin beyaz */
  border: 2px solid #fa7e1e; /* Hover'da çerçeve aynı renk */
}

.card:hover h2,
.card:hover p {
  color: white; /* Hover'da başlık ve paragraf metin rengi beyaz */
}

.card h2 {
  margin-top: 10px;
  font-size: 24px;
}

.card p {
  margin-top: 10px;
  font-size: 16px;
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Maksimum genişlik */
  margin: 20px auto; /* Üst ve alt boşluk, otomatik sağ ve sol boşluk */
}

.responsive-map {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* En-boy oranını korumak için */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: center; /* Kartları dikey olarak ortala */
  }

  .card {
    flex: 1 1 100%;
    margin-left: auto;
    margin-right: auto;
  }

  iframe {
    margin-top: 20px;
  }
}

/* Başlıklar */
h2 {
  text-align: center; /* Başlıklar ortalandı */
  margin-bottom: 20px; /* Standart boşluk eklendi */
}

h3 {
  text-align: center; /* Başlıklar ortalandı */
  margin-bottom: 15px; /* Standart boşluk eklendi */
}
