/* Genel Sayfa Stilleri */
.menu-page {
  padding: 20px;
  z-index: 1;
}

.menu-header {
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
}

.menu-title {
  font-size: 3.2rem;
  margin-bottom: 20px;
  margin-top: 50px;
  color: var(--h1h2-color);
  z-index: 3;
}

/* Kategori Butonları */
.categories-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  justify-content: center;
  margin-bottom: 20px;
  position: sticky;
  top: 37px;
  background: var(--white-color);
  z-index: 10;
  padding: 5px 0;
}

.category-button {
  padding: 8px 10px;
  font-size: 1.4rem;
  background-color: var(--secondary-color);
  color: var(--contrast-color);
  font-weight: bold;
  border: 1px solid var(--contrast-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
  margin: 4px;
  position: relative;
  z-index: 5;
}

.category-button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
}

.category-button.active {
  transform: scale(1.05);
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
}

.category-button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  width: 0;
  height: 4px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.9);
  background-color: var(--primary-color);
  border-radius: 2px;
  transform: translateX(-50%);
  transition: width 0.5s ease-in-out;
}

.category-button.active::after {
  width: 80%;
}

/* Ürün Kartları */
.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  z-index: 4;
}

.card {
  position: relative;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  flex: 1 1 320px;
  max-width: 400px;
  min-height: 150px;
  background: var(--white-color);
  z-index: 3;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--text-color);
  z-index: 2;
}

.card-header h4,
.card-header p {
  margin: 0;
}

.info-button,
.add-button {
  position: absolute;
  bottom: 10px;
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  font-size: 14px;
  border-radius: 50%;
  padding: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.info-button {
  right: 10px;
  background-color: var(--info-color);
}

.add-button {
  left: 10px;
}

.add-button:hover,
.info-button:hover {
  opacity: 0.8;
}

/* Modal Overlay ve İçerik */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  z-index: 10000;
}


.extras-container {
  margin-top: 5px;
}

.extras-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.extra-item {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.extra-item input {
  margin-right: 5px;
}


/* Miktar Kontrolleri */
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

.quantity-controls button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Sepete Ekleme ve Modal Kapatma Butonları */
.add-to-cart-button {
  background-color: var(--success-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: var(--success-hover-color);
}

.close-button {
  background-color: var(--danger-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: var(--danger-hover-color);
}

/* Responsive Tasarım */
@media (min-width: 960px) {
  .categories-container {
    top: 45px;
  }
  .category-button {
    padding: 8px 10px;
    font-size: 1.7rem;
  }
}
