.benutzerverwaltung-container {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.benutzerverwaltung-container h3 {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}

.benutzerverwaltung-container p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.table tbody td {
    padding: 15px;
    color: var(--text-color);
    vertical-align: middle;
    position: relative;
    text-align: left;
}

.table tbody td img {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(odd) {
    background-color: var(--secondary-color);
}

.btn-primary {
    margin-right: 10px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

.btn-secondary {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover-color);
    border-color: var(--secondary-hover-color);
}

.table tbody td[data-label] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobil uyarlama */
@media (max-width: 768px) {
    .table thead {
        display: none;
    }

    .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
        text-align: left;
    }

    .table tbody td {
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .table tbody td[data-label]::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
        color: var(--text-color-dark);
    }

    .benutzerverwaltung-container {
        padding: 10px;
    }
}
